{% extends 'base.html.twig' %}

{% block main %}

    {% for msg in app.flashes('message') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

    <h1>Hello {{ user.email }}</h1>

    <h3>Full Name: {{ user.fullName }}</h3>

    <div>
        <img class="img-rounded" src="{{ asset('uploads/images/users/' ~ user.image) }}" width="400px" height="200px">
    </div>

    {% if app.getUser() %}
        <a class="btn btn-success btn-sm" id="add">Add message</a>
        <div id="message"></div>
    {% endif %}

    <script>
        $('#add').click(function() {
            $('#message').empty();

            let commentForm = `
            <form method="post" action="{{ path('message_create', {id: user.id}) }}">
                <div class="form-group">
                    <div class="col-sm-6">
                    About: <input type="text" class="form-control" name="message[about]"/>
                    Content: <textarea class="form-control" rows="6" id="article_content"
                              name="message[content]"></textarea>
                    <input type="submit" value="Add" class="btn btn-success btn-sm">
                    </div>
                </div>
            </form>
           `;

            $('#message').append(commentForm);
            $('#message').toggle();
        });
    </script>
{% endblock %}