{% extends 'base.html.twig' %}

{% block main %}

    {% for msg in app.flashes('message') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

{#    <h1>Hello {{ user.username }}</h1>#}

{#    <h3>Full Name: {{ user.fullName }}</h3>#}

{#    <h3>Email: {{ user.email }}</h3>#}

{#    <div>#}
{#        <img class="img-rounded" src="{{ asset('uploads/images/users/' ~ user.image) }}" width="400px" height="200px">#}
{#    </div>#}

{#    <a href="{{ path('edit_profile') }}" class="btn btn-success col-sm-3">Edit Profile</a>#}

{#    <br>#}
{#    <br>#}
{#    <br>#}

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10">
            <h1>Hello, {{ user.username }}</h1></div>
        <div class="col-sm-2">
            <a href="#" class="pull-right"><img title="profile image" class="img-responsive pull-right"
                                                src="{{ asset('uploads/images/users/' ~ user.image) }}" style="padding: 10px"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->

            <ul class="list-group">
                <li class="list-group-item text-muted">Profile</li>
                <li class="list-group-item text-right"><span
                            class="pull-left"><strong>Joined</strong></span> {{ user.dateJoined|date("F jS \\a\\t g:ia", "Europe/Sofia") }}
                </li>
                <li class="list-group-item text-right"><span
                            class="pull-left"><strong>Full name</strong></span> {{ user.fullName }}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>User status:</strong></span> User
                </li>
            </ul>

            {#                <div class="panel panel-default">#}
            {#                    <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>#}
            {#                    <div class="panel-body"><a href="https://bootdey.com">https://bootdey.com</a></div>#}
            {#                </div>#}

            <ul class="list-group">
                <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Unwatched movies</strong></span>
                    {{ unwatched_movies|length }}
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Watched movies</strong></span>
                    {{ watched_movies|length }}
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Comments</strong></span>

                </li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body">
                    <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i
                            class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i
                            class="fa fa-google-plus fa-2x"></i>
                </div>
            </div>

        </div>
        <!--/col-3-->
        <div class="col-sm-9">
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">Unwatched movies</div>
                <div class="panel-body">
                    <div class="row">
                        {% for movie in unwatched_movies %}
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="{{ loadImage( movie.posterPath ) }}" width="300px" height="500">
                                    <div class="caption">
                                        <h3>
                                            {{ movie.originalTitle }}
                                        </h3>
                                        <a class="btn btn-warning btn-xs" href="{{ path('add_to_watched_from_unwatched', {id: movie.id}) }}">Add to watched</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!--/tab-content-->

            </div>
            <!--/col-9-->
        </div>

        <div class="col-sm-9">
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">Watched movies</div>
                <div class="panel-body">
                    <div class="row">
                        {% for movie in watched_movies %}
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="{{ loadImage( movie.posterPath ) }}" width="300px" height="500">
                                    <div class="caption">
                                        <h3>
                                            {{ movie.originalTitle }}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!--/tab-content-->

            </div>
            <!--/col-9-->
        </div>

    </div>
</div>
        <!--/row-->

        <a href="{{ path('user_mailbox') }}" class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-envelope"></span>({{ msg|length }}) Mailbox
        </a>
{% endblock %}

