{% extends 'base.html.twig' %}

{% block main %}
    <h1>Hello {{ user.username }}</h1>

    <h3>Full Name: {{ user.fullName }}</h3>

    <h3>Email: {{ user.email }}</h3>

    <div>
        <img class="img-rounded" src="{{ asset('uploads/images/users/' ~ user.image) }}" width="400px" height="200px">
    </div>

    <a href="{{ path('edit_profile') }}" class="btn btn-success col-sm-3">Edit Profile</a>

    <br>
    <br>
    <br>

{#    <a href="{{ path('user_mailbox') }}" class="btn btn-info btn-sm">#}
{#        <span class="glyphicon glyphicon-envelope"></span>({{ msg|length }}) Mailbox#}
{#    </a>#}
{% endblock %}

