{% extends 'base.html.twig' %}

{% block main %}

    {% for msg in app.flashes('message') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10">
            <h1>Hello, {{ user.username }}</h1></div>
        <div class="col-sm-2">
            <a href="#" class="pull-right"><img title="profile image" class="img-responsive pull-right"
                                                src="{{ asset('uploads/images/users/' ~ user.image) }}" style="padding: 10px"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->

            <ul class="list-group">
                <li class="list-group-item text-muted">Profile</li>
                <li class="list-group-item text-right"><span
                            class="pull-left"><strong>Joined</strong></span> {{ user.dateJoined|date("F jS \\a\\t g:ia", "Europe/Sofia") }}
                </li>
                <li class="list-group-item text-right"><span
                            class="pull-left"><strong>Full name</strong></span> {{ user.fullName }}</li>
                <li class="list-group-item text-right"><span
                            class="pull-left"><strong>Edit profile</strong></span> <a href="{{ path('edit_profile') }}">Edit profile</a></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Mailbox:</strong></span>
                    <a href="{{ path('user_mailbox') }}" class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-envelope"></span>({{ msg|length }}) Mailbox
                    </a>
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Unwatched movies</strong></span>
                    {{ unwatched_movies|length }}
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Watched movies</strong></span>
                    {{ watched_movies|length }}
                </li>
            </ul>

        </div>
        <!--/col-3-->
        <div class="col-sm-9">
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">Unwatched movies</div>
                <div class="panel-body">
                    <div class="row">
                        {% for movie in unwatched_movies %}
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="{{ loadImage( movie.posterPath ) }}" width="300px" height="500">
                                    <div class="caption">
                                        <h3>
                                            {{ movie.originalTitle }}
                                        </h3>
                                        <a class="btn btn-warning btn-xs" href="{{ path('add_to_watched_from_unwatched', {id: movie.id}) }}">Add to watched</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!--/tab-content-->

            </div>
            <!--/col-9-->
        </div>

        <div class="col-sm-9">
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">Watched movies</div>
                <div class="panel-body">
                    <div class="row">
                        {% for movie in watched_movies %}
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="{{ loadImage( movie.posterPath ) }}" width="300px" height="500">
                                    <div class="caption">
                                        <h3>
                                            {{ movie.originalTitle }}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!--/tab-content-->

            </div>
            <!--/col-9-->
        </div>

    </div>
</div>
{% endblock %}

