{% extends 'base.html.twig' %}

{% block main %}
{#    <h1>Hello {{ user.username }}</h1>#}

{#    <h3>Full Name: {{ user.fullName }}</h3>#}

{#    <h3>Email: {{ user.email }}</h3>#}

{#    <div>#}
{#        <img class="img-rounded" src="{{ asset('uploads/images/users/' ~ user.image) }}" width="400px" height="200px">#}
{#    </div>#}

{#    <a href="{{ path('edit_profile') }}" class="btn btn-success col-sm-3">Edit Profile</a>#}

{#    <br>#}
{#    <br>#}
{#    <br>#}

    <hr>
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10">
                <h1>Hello, {{ user.username }}</h1></div>
            <div class="col-sm-2">
                <a href="#" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="{{ asset('uploads/images/users/' ~ user.image) }}"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--left col-->

                <ul class="list-group">
                    <li class="list-group-item text-muted">Profile</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span> {{ user.dateJoined|date("F jS \\a\\t g:ia", "Europe/Sofia") }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Full name</strong></span> {{ user.fullName }}</li>
                </ul>

{#                <div class="panel panel-default">#}
{#                    <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>#}
{#                    <div class="panel-body"><a href="https://bootdey.com">https://bootdey.com</a></div>#}
{#                </div>#}

                <ul class="list-group">
                    <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
                </ul>

                <div class="panel panel-default">
                    <div class="panel-heading">Social Media</div>
                    <div class="panel-body">
                        <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
                    </div>
                </div>

            </div>
            <!--/col-3-->
            <div class="col-sm-9">

                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
                    <li><a href="#messages" data-toggle="tab">Messages</a></li>
                    <li><a href="#settings" data-toggle="tab">Settings</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Label 1</th>
                                    <th>Label 2</th>
                                    <th>Label 3</th>
                                    <th>Label </th>
                                    <th>Label </th>
                                    <th>Label </th>
                                </tr>
                                </thead>
                                <tbody id="items">
                                <tr>
                                    <td>1</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4 text-center">
                                    <ul class="pagination" id="myPager"></ul>
                                </div>
                            </div>
                        </div>
                        <!--/table-resp-->

                        <hr>

                    </div>
                    <!--/tab-pane-->
                    <div class="tab-pane" id="messages">

                        <h2></h2>

                        <ul class="list-group">
                            <li class="list-group-item text-muted">Inbox</li>
                            <li class="list-group-item text-right"><a href="#" class="pull-left">Here is your a link to the latest summary report from the..</a> 2.13.2014</li>
                            <li class="list-group-item text-right"><a href="#" class="pull-left">Hi Joe, There has been a request on your account since that was..</a> 2.11.2014</li>
                            <li class="list-group-item text-right"><a href="#" class="pull-left">Nullam sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                            <li class="list-group-item text-right"><a href="#" class="pull-left">Thllam sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                            <li class="list-group-item text-right"><a href="#" class="pull-left">Wesm sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                            <li class="list-group-item text-right"><a href="#" class="pull-left">For therepien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                            <li class="list-group-item text-right"><a href="#" class="pull-left">Also we, havesapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                            <li class="list-group-item text-right"><a href="#" class="pull-left">Swedish chef is assaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>

                        </ul>

                    </div>
                    <!--/tab-pane-->
                    <div class="tab-pane" id="settings">

                        <hr>
                        <form class="form-horizontal" action="{{ path('edit_profile') }}" method="post" enctype="multipart/form-data">
                            <fieldset>
                                <legend>Edit</legend>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="user_username">Username</label>
                                    <div class="col-sm-4 ">
                                        <input class="form-control" id="user_username" placeholder="Username" name="user[username]" required value="{{ user.username }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="user_email">Email</label>
                                    <div class="col-sm-4 ">
                                        <input class="form-control" id="user_email" placeholder="Email" name="user[email]" type="email" value="{{ user.email }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="user_fullName">Full Name</label>
                                    <div class="col-sm-4 ">
                                        <input type="text" class="form-control" id="user_fullName" placeholder="Full Name" name="user[fullName]" required value="{{ user.fullName }}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="user_fullName">Change password</label>
                                    <div id="changePass" class="btn btn-danger col-sm-4">Change Password</div>
                                </div>

                                <div id="pass"></div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="user_image">Upload Image</label>
                                    <div class="col-sm-4">
                                        <input type="file" class="form-control" id="user_image" placeholder="Upload Image"
                                               name="user[image]">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-4">
                                        {#                            <a class="btn btn-default" href="{{ path('blog_index') }}">Cancel</a>#}
                                        <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                    </div>
                                </div>

{#                                {{  form_row(form._token) }}#}
                            </fieldset>
                        </form>
                    </div>

                </div>
                <!--/tab-pane-->
            </div>
            <!--/tab-content-->

        </div>
        <!--/col-9-->
    </div>
    <!--/row-->

{#    <a href="{{ path('user_mailbox') }}" class="btn btn-info btn-sm">#}
{#        <span class="glyphicon glyphicon-envelope"></span>({{ msg|length }}) Mailbox#}
{#    </a>#}
{% endblock %}

