{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content">
        <h1>Browse movies here</h1>
{#            {% for movie in movies %}#}
{#                <div class="col-md-4">#}
{#                    <article>#}

{#                        <a href="{{ path('view_movie', {id: movie.id}) }}">#}
{#                            <img src="{{ loadImage(movie.posterPath) }}" alt="" width="200px" height="300px"><br>#}
{#                            <h2>{{ movie.originalTitle }}</h2>#}
{#                            <h4>{{ movie.id }}</h4>#}
{#                        </a>#}

{#                    </article>#}
{#                </div>#}


{#            {% endfor %}#}
{#            <div class="navigation text-center">#}
{#                {{ knp_pagination_render(movies) }}#}
{#            </div>#}


        <form action="{{ path('browse_action') }}" method="post" class="col-md-6">
            <div class="form-group">
{#                <label class="col-sm-1 control-label" for="search">Search for movie</label>#}
{#                <div class="col-sm-3">#}
{#                    <input type="search" class="form-control" id="search" placeholder="Search" name="browse[input]">#}
{#                </div>#}
                <label class="col-sm-1 control-label" for="order">Order by</label>
                <select class="form-control" id="order" name="browse[orderBy]">
                    <option value="popularity.desc">Popularity desc</option>
                    <option value="popularity.asc">Popularity asc</option>
                    <option value="release_date.asc">Release date asc</option>
                    <option value="release_date.desc">Release date desc</option>
                    <option value="average_vote.asc">Average vote asc</option>
                    <option value="average_vote.desc">Average vote desc</option>
                </select>
                <label class="col-sm-1 control-label" for="order">Genres</label>
                <select class="form-control" id="order" name="browse[genre]">
                    <option disabled selected></option>
                    {% for genre in genres %}
                    <option value="{{ genre.id }}">{{ genre.name }}</option>
                    {% endfor %}
                </select>
                <label class="col-sm-1 control-label" for="releaseYear">Release year</label>
                <select class="form-control" id="order" name="browse[releaseYear]">
                    <option disabled selected></option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <h1>Or search by movie name</h1>
        <form action="{{ path('search_action') }}" method="post" class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="search">Search for movie</label>
                <div class="col-sm-6">
                    <input type="search" class="form-control" id="search" placeholder="Search" name="search[input]" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
{% endblock %}

