{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content">
        <h1>Welcome</h1>
        <h4>Here are today's most trending TV shows</h4>
        <div class="row">
            {#            {% for msg in app.flashes('info') %}#}
            {#                <div class="alert alert-success">#}
            {#                    {{ msg }}#}
            {#                </div>#}
            {#            {% endfor %}#}

            {#            {% for msg in app.session.flashbag.get('errors') %}#}
            {#                <div class="alert alert-success">#}
            {#                    {{ msg }}#}
            {#                    <button type="button" class="close" data-dismiss="alert" aria-label="close">#}
            {#                        <span aria-hidden="true">x</span>#}
            {#                    </button>#}
            {#                </div>#}
            {#            {% endfor %}#}

            {% for show in shows %}
                <div class="col-md-4">
                    <article>

                        <a href="{{ path('view_tv_show', {id: show.id}) }}">
                            <img src="{{ loadImage(show.posterPath) }}" alt="" width="200px" height="300px"><br>
                            <h2>{{ show.originalName }}</h2>
                            <h4>{{ show.id }}</h4>
                        </a>

                    </article>
                </div>


            {% endfor %}
            <div class="navigation text-center">
                {{ knp_pagination_render(shows) }}
            </div>
        </div>
    </div>
{% endblock %}

