{% extends 'base.html.twig' %}

{% block main %}

    Total items: {{ result.getTotalItemCount }} <br>
    <br>
    {% for movie in result %}
        <a href="{{ path('view_movie', {id: movie.id}) }}">
            {{ movie.originalTitle }}<br>
            <img src="{{ loadImage(movie.posterPath) }}" alt="" width="200px" height="300px">
        </a>
        <hr>
    {% endfor %}

    <div class="navigation text-center">
        {{ knp_pagination_render(result) }}
    </div>

{% endblock %}