{% extends 'base.html.twig' %}

{% set imageUrl = loadImage(movie.posterPath) %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/movies/view.css') }}">
{% endblock %}

{% block main %}

    <div class="container">

        {% for msg in app.flashes('message') %}
            <div class="alert alert-success">
                {{ msg }}
            </div>
        {% endfor %}

        {% for msg in app.flashes('list') %}
            <div class="alert alert-warning">
                {{ msg }}
            </div>
        {% endfor %}

        <div class="col-md-4 pic-container">
            <img src="{{ imageUrl }}" alt="" width="300px" height="500px" class="pic">
            <img src="{{ imageUrl }}" alt="" width="300px" height="500px" class="pic">
            <img src="{{ imageUrl }}" alt="" width="300px" height="500px" class="pic">
            {% if trailerKey %}
                <a href="{{ youtubeLink(trailerKey) }}" class="pic-caption" target="_blank">Watch trailer here!</a>
            {% endif %}
        </div>
        <div class="col-md-8">
            <h1>{{ movie.originalTitle }}</h1>
            {% if movie.tagline %}
                <h5>"{{ movie.tagline }}"</h5>
            {% endif %}
            <h4>Status: {{ movie.status }}</h4>
            <h4>Release date: {{ movie.releaseDate }}</h4>
            <h4>Genres: {{ movie.genres }}</h4>
            <h4>Spoken languages: {{ movie.spokenLanguages }}</h4>
            {% if movie.homepage %}
                <h4>Homepage: <a href="{{ movie.homepage }}">{{ movie.homepage }}</a></h4>
            {% endif %}
            <h4>IMDb link: <a href="{{ imdbLink(movie.imdbId) }}">{{ imdbLink(movie.imdbId) }}</a> </h4>
            <h4>Runtime: {{ movie.runtime }} minutes</h4>

            {% if movie.budget %}
                <h4>Budget: {{ movie.budget }}</h4>
            {% endif %}
            {% if movie.revenue %}
                <h4>Revenue: {{ movie.revenue }}</h4>
            {% endif %}

            <h4>{{ movie.overview }}</h4>

            <a class="btn btn-default btn-m" href="{{ app.request.headers.get('referer') }}">back &raquo;</a>
            <a class="btn btn-success btn-m" href="{{ path('add_to_unwatched', {id: movie.id}) }}">Add to unwatched</a>
            <a class="btn btn-warning btn-m" href="{{ path('add_to_watched', {id: movie.id}) }}">I have watched it already</a>
        </div>

        <div class="col-md-2">
            <div class="row">
                {% for actor in actors|slice(0, 4) %}
                    <img src="{{ loadImage(actor.profilePath) }}" alt="" width="100px" height="200px" class="img-rounded">
                    <a href="{{ path('view_actor', {id: actor.id}) }}"><h3>{{ actor.name }}</h3></a>
                {% endfor %}
            </div>
        </div>
    </div>

    <form method="post" action="{{ path('comment_create', {id: movie.id}) }}">
        <div class="form-group">
            <div class="col-sm-6">
                Add comment: <textarea class="form-control" rows="6" id="article_content"
                                       name="comment[content]"></textarea>
                <input type="submit" value="Add" class="btn btn-success btn-sm">
            </div>
        </div>
    </form>

    {% for comment in comments %}
        <div style="border: 2px solid #0a4b3e">
            <p>{{ comment.content }}</p>
            <small>{{ comment.dateAdded|date("F js \\a\\t g:ia") }}</small>
                <a href="{{ path('user_message', {id: comment.author.id}) }}">
                    <img class="img-rounded" src="{{ asset('uploads/images/users/' ~ comment.author.image) }}" width="30px" height="10px">
                </a>
            <hr>
        </div>
    {% endfor %}




{% endblock %}