{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content text-center">
        {% if user %}
            <h1>Hello, {{ user.username }}</h1>
        {% else %}
        <h1>Hello guest</h1>
        <h5>You can browse movies here, but if you want to see details and browse TV shows you might want to <a
                    href="{{ path('user_register') }}">Register first</a></h5>
        <br>
        {% endif %}
        <div class="row">
            {% for movie in movies %}
                <div class="col-md-4">
                    <article>
                        <a href="{{ path('view_movie', {id: movie.id}) }}">
                            <img src="{{ loadImage(movie.posterPath) }}" alt="" width="200px" height="300px"><br>
                            <h5>{{ movie.originalTitle }}</h5>
                            <h5>Click for more info</h5>
                        </a>
                    </article>
                </div>
            {% endfor %}
            <div class="navigation text-center">
                {{ knp_pagination_render(movies) }}
            </div>
        </div>
    </div>
{% endblock %}

