{% extends 'base.html.twig' %}

{% block main %}

    {% for msg in app.flashes('message') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

    <h3>About: {{ msg.about }}</h3>

    <p>Content: {{ msg.content }}</p>

    <small>From: {{ msg.sender.fullName }}</small><br>

    <small>Date added: {{ msg.dateAdded|date("F jS \\a\\t g:ia", "Europe/Sofia") }}</small>

    <br><br>

    {% if app.getUser() %}
        <a class="btn btn-success btn-sm" id="add">Add message</a>
        <div id="message"></div>
    {% endif %}

    <script>
        $('#add').click(function() {
            $('#message').empty();

            let commentForm = `
            <form method="post" action="{{ path('user_mailbox_sent_message', {id: msg.sender.id}) }}">
                <div class="form-group">
                    <div class="col-sm-6">
                    About: <input type="text" class="form-control" name="message[about]"/>
                    Content: <textarea class="form-control" rows="6" id="article_content"
                              name="message[content]"></textarea>
                    <input type="submit" value="Add" class="btn btn-success btn-sm">
                    <input type="hidden" name="msgId" value="{{ msg.id }}">
                    </div>
                </div>
            </form>
           `;

            $('#message').append(commentForm);
            $('#message').toggle();
        });
    </script>

{% endblock %}