{% extends 'base.html.twig' %}

{% set imageUrl = loadImage(show.posterPath) %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/movies/view.css') }}">
{% endblock %}

{% block main %}

    <div class="container">

        {% for msg in app.flashes('message') %}
            <div class="alert alert-success">
                {{ msg }}
            </div>
        {% endfor %}

        {% for msg in app.flashes('list') %}
            <div class="alert alert-warning">
                {{ msg }}
            </div>
        {% endfor %}

        <div class="col-md-4 pic-container">
            <img src="{{ imageUrl }}" alt="" width="300px" height="500px" class="pic">
            <img src="{{ imageUrl }}" alt="" width="300px" height="500px" class="pic">
            <img src="{{ imageUrl }}" alt="" width="300px" height="500px" class="pic">
        </div>

        <div class="col-md-8">
            <h1>{{ show.name }}</h1>

            <h4>First air date: {{ show.firstAirDate }}</h4>
            <h4>Created by:
                {% for director in directors %}
                    <a href="{{ path('view_actor', {id: director.id}) }}">{{  director.name }}</a>,
                {% endfor %}
            </h4>
            <h4>Genres: {{ show.genres }}</h4>
            {% if show.homepage %}
                <h4>Homepage: <a href="{{ show.homepage }}">{{ show.homepage }}</a></h4>
            {% endif %}
            <h4>In production: {{ show.inProduction == true ? 'Yes' : 'No' }}</h4>
            <h4>Languages: {{ show.languages }}</h4>
            <h4>Overview: {{ show.overview }}</h4>


            {% for season in seasons %}
                <div class="col-md-3">
                    <a href="{{ path('view_season_info', {tv_id: show.id, season_number: season.seasonNumber}) }}">
                        <img src="{{ loadImage(season.posterPath) }}" alt="" width="100px" height="200px" class="img-rounded">
                        <h3>{{ season.name }}</h3>
                    </a>
                </div>
            {% endfor %}
            <div class="navigation text-center">
                {{ knp_pagination_render(seasons) }}
            </div>
            <a class="btn btn-default btn-m" href="{{ app.request.headers.get('referer') }}">back &raquo;</a>
{#            <a class="btn btn-success btn-m" href="{{ path('add_to_unwatched', {id: movie.id}) }}">Add to unwatched</a>#}
{#            <a class="btn btn-warning btn-m" href="{{ path('add_to_watched', {id: movie.id}) }}">I have watched it already</a>#}
        </div>


    </div>

    <form method="post" action="{{ path('comment_create', {id: show.id}) }}">
        <div class="form-group">
            <div class="col-sm-6">
                Add comment: <textarea class="form-control" rows="6" id="article_content"
                                       name="comment[content]"></textarea>
                <input type="submit" value="Add" class="btn btn-success btn-sm">
            </div>
        </div>
    </form>

    {% for comment in comments %}
        <div style="border: 2px solid #0a4b3e">
            <p>{{ comment.content }}</p>
            <small>{{ comment.dateAdded|date("F js \\a\\t g:ia") }}</small>
            <a href="{{ path('user_message', {id: comment.author.id}) }}">
                <img class="img-rounded" src="{{ asset('uploads/images/users/' ~ comment.author.image) }}" width="30px" height="10px">
            </a>
            <hr>
        </div>
    {% endfor %}




{% endblock %}